body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f4f7f9;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background-color: #ee3643;
    border-radius: 3%;
    text-transform: uppercase;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
/*header*/
.main-header {
    background-color: #293449;
}
/*top-line*/
.top-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-logo {
    width: 220px;
    padding: 14px 0 0 0;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    text-align: center;
}
.top-logo:hover {
    background-color: #ca2c37;
}
.top-logo:active {
    background-color: #ba2732;
}
.search-form input[type="search"] {
    width: 270px;
    padding: 12px 0 12px 48px;
    font-size: 17px;
    line-height: 18px;
    border: none;
    color: #ffffff;
    background-color: #293449;
    background-image: url(../img/tech-sprite.svg);
    background-repeat: no-repeat;
    background-position: 18px 12px;
    opacity: 0.3;
    cursor: pointer;
}
.search-form ::placeholder {
    color: #fff;
}
.search-form input[type="search"]:hover {
    background-color: #212a3a;
    opacity: 1;
}
.search-form input[type="search"]:focus {
    color: #000;
    background-color: #ffffff;
    opacity: 1;
}
.search-form input[type="search"]:active {
    color: #000;
    background-color: #ffffff;
}
.search-form[type="search"]:active::placeholder {
    color: #000;
}
.bookmark {
    position: relative;
    width: 105px;
    padding: 12px 0 12px 45px;
    text-align: left;
}
.bookmark::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../img/tech-sprite.svg);
    background-repeat: no-repeat;
    background-position: 16px -48px;
    opacity: 0.3;
}
.basket {
    position: relative;
    width: 100px;
    padding: 12px 0 12px 50px;
    text-align: left;
}
.basket::before {
    position: absolute;
    top: 0;
    left: 2px;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../img/tech-sprite.svg);
    background-repeat: no-repeat;
    background-position: 15px -77px;
    opacity: 0.3;
}
.bookmark:hover::before, .basket:hover::before {
    opacity: 1;
}
.basket:active::before, .bookmark:active::before, .bookmark:active, .basket:active {
    opacity: 0.5;
}
.added-basket {
    background-color: #ee3643;
}
.bookmark:hover, .bookmark:focus, .basket:hover, .basket:focus {
    background-color: #212a3a;
}
.basket:hover {
    opacity: 1;
}
.order {
    width: 150px;
    padding: 12px 0;
    background-color: #63a63e;
    text-align: center;
}
.order:hover {
    background-color: #5fbb2d;
}
.order:focus {
    background-color: #518534;
}
/*top-line*/
/*middle-line*/
.color-override {
    padding: 46px 0 61px 0;
    background-color: #f4f7f9;
}
.middle-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   /*margin-bottom: 38px;
   */
}
.middle-line .title {
    width: 200px;
    margin: 0;
    padding: 0;
    padding: 7px 15px 0 53px;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
    color: #ee3643;
    white-space: pre-wrap;
}
.contacts {
    width: 270px;
}
.contacts .phone {
    display: block;
    width: 145px;
    padding: 10px 50px 10px 69px;
    font-size: 21px;
    line-height: 1;
    color: #ee3643;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border: 3px solid #ffffff;
    text-align: center;
}
.contacts .location {
    margin: 0;
    padding: 0;
    padding: 3px 0 0 7px;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    margin-left: 5px;
    color: #32425c;
}
.contact-init {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    list-style: none;
}
.contact-init a {
    display: block;
    padding: 13px 25px 13px 25px;
    font-size: 21px;
    line-height: 1;
    color: #000000;
    background-color: #ffffff;
}
.contact-init .login {
    position: relative;
    padding-left: 45px;
}
.login::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 35px;
    height: 35px;
    background-image: url(../img/tech-sprite.svg);
    background-repeat: no-repeat;
    background-position: 13px -106px;
    opacity: 0.3;
}
.login:hover::before {
    opacity: 1;
}
.login:active::before {
    opacity: 0.3;
}
.contact-init .registration {
    margin-left: 10px;
}
.contact-init a:hover {
    color: #ee3643;
}
.contact-init a:active {
    color: rgba(0, 0, 0, 0.3);
}
/*middle-line*/
.main-navigation {
    margin-top: 38px;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding: 0 22px;
    margin: 0;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    list-style: none;
}
.navigation-list li {
    flex-grow: 1;
}
.navigation-list a {
    display: block;
    padding: 20px 30px;
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
    color: #ffffff;
}
.navigation-list a:hover {
    background-color: #293449;
}
.navigation-list a:active {
    background-color: #1d2739;
    opacity: 0.3;
}
/*header*/
/*main*/
.index-main {
    background-color: #ffffff;
}
/*promo*/
.promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 62px;
    margin-bottom: 32px;
}
.promo-item {
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}
.promo-item h3 {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding: 21px 0 12px 23px;
    color: #ffffff;
}
.promo-link {
    width: 135px;
    margin: 0 0 25px 24px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.promo-link a {
    display: block;
    width: 135px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;    
    color: #fff;  
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
}
.promo-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.promo-link:active {
    background-color: rgba(0, 0, 0, 0.3);
}
.materials {
    position: relative;
    background-color: #ffbf47;
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 51%;
}
.materials::after {
    position: absolute;
    top: -1px;
    right: -10px;
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}
.tool {
    background-color: #3bbce3;
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 198px 51%;
}
.equipment {
    background-color: #dc91d8;
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 190px 50%;
}
.sale {
    background-color: #8ed78f;
    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 58%;
}
.delivery {
    background-color: #ffc047;
    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 60%;
}
/*promo*/
/*slider*/
.slider {
    position: relative;
    width: 620px;
}
.slider img {
    width: 100%;
}
.slider-1 {
    position: relative;
    width: 100%;
    min-height: 266px;
    margin: 0;
}
.slider-2 {
    position: relative;
    display: none;
    width: 100%;
    min-height: 266px;
    margin: 0;
    margin-top: 10px;
}
.slider figcaption {
    position: absolute;
    top: 24px;
    left: 26px;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}
.slider-text {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}
.button-img a {
    position: absolute;
    width: 195px;
    left: 26px;
    bottom: 25px;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}
.button-img a:hover {
    background-color: #ca2c37;
}
.button-img a:active {
    background-color: #ba2732;
}
.slider button {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 40px;
    margin-top: -28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.button-next {
    right: 20px;
    background-image: url(../img/icon-right.svg);
    cursor: pointer;
}
.button-back {
    left: 25px;
    background-image: url(../img/icon-left.svg);
    cursor: pointer;
}
/*slider*/
/*popular-item*/
.popular-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    margin-bottom: 17px;
    background-color: #f9f5f0;
}
.popular-items h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    padding: 6px 0;
    color: #32425c;
    text-transform: uppercase;
}
.popular-items a {
    width: 253px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
    margin-right: 5px;
    color: #ffffff;
}
.popular-items a:hover {
    background-color: #ca2c37;
}
.popular-items a:active {
    background-color: #ba2732;
}
.catalog-items {
    display: flex;
    flex-wrap: wrap;
}
.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.catalog-item:nth-child(4n) {
    margin-right: 0;
}
.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.catalog-item .flag-new {
    background: url(../img/new-flag.png) no-repeat 0 0;
}
.catalog-item .actions {
    position: absolute;
    top: 4px;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.actions .buy, .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    background-color: #63a63e;  
    border-bottom: 3px solid #367315;
    border-radius:3px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", "Arial", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.actions .buy {
    position: relative;
    padding: 10px 3px 7px 3px;
}
.actions .buy:hover {
    background-color: #5fbb2d;

}
.actions .buy:active {
    background-color: #518534;
    padding-bottom: 10px;
    border: none;
}
.actions .buy::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/tech-sprite.svg);
    background-repeat: no-repeat;
    background-position: 12px -81px;
    opacity: 0.3;
    content: "";
}
.actions .buy:hover::before {
    opacity: 1;
}
.actions .buy:active {
    opacity: 1;
}
.actions .bookmark {
    padding: 7px 0;
    color: #32425c;
    background: white;
    border: 3px solid #63a63e;
}
.actions .bookmark:hover {
    border-color: #32425c;
}
.actions .bookmark:active {
    border-color: #32425c;
    opacity: 0.3;
}
.catalog-item .actions {
    display: none;
}
.catalog-item:hover .actions {
    display: block;
}
.catalog-item .image {
    width: 218px;
    height: 168px;
}
.catalog-item img {
    max-width: 100%;
}
.catalog-item .title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.catalog-item .discount {
    min-height: 20px;
    margin-top: 11px;
    margin-bottom: 6px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #999;
    text-decoration: line-through;
}
.catalog-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.catalog-item .price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}
/*popular-item*/
/*брэнды*/
.brands {
    margin-bottom: 67px;
}
.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.brands-list-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    min-height: 145px;
    margin-bottom: 18px;
    border: 1px solid #eaeaea;
}
.brands-list-item a:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands-list-item a:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.5;
}
/*брэнды*/
/*сервисы*/
.service{
    padding: 40px 0;
    margin-bottom: 40px;
    background-color: #f4f7f9;
}
.service-title h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin: 28px 0;
    color: #000;
    text-transform: uppercase;
}
.service-title p {
    width: 400px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
}
.service-title {
    margin-bottom: 50px;
}
.service-wrapper {
    display: flex;
    justify-content: space-between;
}
.service-menu {
    position: relative;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-top: 17px;
    list-style: none;
}
.service-menu::after {
    width: 10px;
    position: absolute;
    top: -33px;
    right: 0;
    height: 279px;
    content: "";
    background: url(../img/shadow-service-ul.png) no-repeat 0 0;
}
.service-menu a {
    display: block;
    padding: 16px 0 16px 22px;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    background-color: #32425c;
    box-shadow: inset 0px 1px 0 0 #293449;
}
.service-menu a:hover {
    color: #fff;
    background-color: #293449;
}
.service-menu a:active {
    color: #32425c;
    background-color: #fff;
    box-shadow: none;
}
.service-menu .active {
    color: #32425c;
    background-color: #fff;
    box-shadow: none;
}
.service-content {
    width: 620px;
    padding: 18px 0 89px 0;
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: 150px 40px;
}
.service-content h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}
.service-content p {
    width: 278px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
}
/*сервисы*/
/*company*/
.company {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 86px;
}
.company-info {
    width: 545px;
}
.company h2 {
    padding: 0;
    padding-left: 2px;
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}
.company p {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.transfer p {
    width: 415px;
    padding: 0;
    margin: 0;
    margin: 25px 0 19px 1px;
}
.transfer-list {
    width: 220px;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    list-style: none;
}
.transfer-list li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
}
.transfer-list li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}
.transfer-btn {
    display: block;
    width: 220px;
    padding: 9px 0;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}
.transfer-btn:hover {
    background-color: #ca2c37;
}
.transfer-btn:active {
    background-color: #ba2732;
}
.company-contact {
    width: 303px;
}
.company-contact h2 {
    padding-left: 2px;
}
.company-contact p {
    width: 200px;
    padding-left: 2px;
    margin-bottom: 30px;
}
.company-btn {
    display: block;
    width: 100%;
    padding: 9px 0;
    margin-top: 38px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}
.company-btn:hover {
    background-color: #ca2c37;
}
.company-btn:active {
    background-color: #ba2732;
}
/*company*/
/*main*/
/*страница каталога*/
/*аккаунт в хедере*/
.user-init {
    width: 300px;
}
.user-account {
    display: flex;
    background-color: #fff;
    margin-bottom: 7px;
}
.user-account .user-login {
    position: relative;
    display: flex;
    align-items: center;
    width: 208px;
    height: 45px;
    padding-left: 47px;
    background: #fff;
    font-size: 21px;
    line-height: 18px;
    color: #000;
}
.user-account .user-login:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
}
.user-account .exit {
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
}
.exit::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    background-image: url(../img/tech-sprite.svg);
    background-repeat: no-repeat;
    background-position: 14px -137px;
    opacity: 0.3;
}
.exit:hover::before, .user-login:hover::after {
    opacity: 1;
}
.exit:active::before {
    opacity: 0.3;
}.user-login:active {
    opacity: 0.3;
}
.user-init .orders {
    padding: 0 28px 0 18px;
}
.user-init .orders, .user-init .office {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}
.user-init .orders:hover, .user-init .office:hover {
    color: #ee3643;
}
.user-init .orders:active, .user-init .office:active {
    opacity: 0.3;
   ;
}
.user-init .orders:after {
    position: absolute;
    content: "";
    top: 40%;
    left: 89%;
    width: 4px;
    height: 4px;
    background: #32425c;
    border-radius: 50%;
}
/*аккаунт в хедере*/
/*хлебные крошки*/
.breadcrumbs {
    width: 373px;
    display: flex;
    justify-content: space-around;
    padding: 23px 0 19px 0;
}
.breadcrumbs a, .breadcrumbs span {
    position: relative;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}
.breadcrumbs .home::before {
    position: absolute;
    top: -2px;
    left: -21px;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.breadcrumbs .home::after {
    position: absolute;
    top: -2px;
    left: 8px;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.page-1::after, .page-2::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.page-1::after {
    top: -2px;
    left: 65px;
}
.page-2::after {
    top: -2px;
    left: 95px;
}
/*хлебные крошки*/
.caption {
    padding: 30px 28px 30px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f2f6f8;
}
.catalog-filter {
    display: flex;
    justify-content: space-between;
}
.aside-bar {
    width: 220px;
}
.aside-bar h2 {
    padding: 0;
    padding: 10px 0 10px 19px;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #000;
    background-color: #f7f3ec;
    text-transform: uppercase;
}
.filter-range, .filter-checkbox, .filter-radio {
    border: 0;
    padding: 0;
}
.filter-range {
    margin: 0 0 0 0;
}
.filter-range legend, .filter-checkbox legend, .filter-radio legend {
    /*padding: 10px 0;*/
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
}
.filter-range legend {
    padding: 10px 0 4px 0;
}
.filter-checkbox legend {
    padding: 16px 0 0 0;
}
.filter-radio legend {
    padding: 13px 0 0 0;
}
.filter-range {
    padding: 0 0 25px 0;
    border-bottom: 1px solid #c9c9c9;
}
.range-control {
    position: relative;
    height: 80px;
    margin: 10px 0;
    padding: 0px 20px;
    overflow: hidden;
    background: #f7f3ec;
}
.range {
    margin-top: 39px;
    width: 180px;
    height: 2px;
    background: #d7dcde;
}
.slider-range {
    height: 2px;
    background: #00ca74;
    width: 88%;
}
.circle {
    position: absolute;
    top: 31px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 #ababab;
    cursor: pointer;
}
.circle-right {
    left: 160px;
}
.filter-range input {
    border: none;
    width: 85px;
    padding: 0px 2px 0px 8px;
    height: 38px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    border-radius: 5px;
    background-color: #f7f3ec;
    cursor: pointer;
}
.filter-range span {
    padding: 0 6px;
    font-size: 16px;
    line-height: 18px;
}
.filter-checkbox .checkbox, .filter-radio .radio {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}
.filter-checkbox {
    position: relative;
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
}
.filter-checkbox label, .filter-radio label {
    position: relative;
    padding: 1px 0 6px 33px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-checkbox label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 2px solid #c5c5c5;
    content: "";
}
.filter-checkbox input[type="checkbox"]:checked + label::after {
    position: absolute;
    top: -4px;
    left: 10px;
    width: 7px;
    height: 16px;
    border-right: 5px solid #c5c5c5;
    border-bottom: 5px solid #c5c5c5;
    transform: rotate(45deg);
    box-shadow: 2px 0 0 0 white, inset -2px 0 0 0 white;
    content: "";
}
.filter-checkbox label:hover::before, .filter-checkbox label:hover::after {
    border-color: #b5b5b5;
}
.filter-checkbox input:focus + label::before,
.filter-radio input:focus + label::before {
    border-color: #b5b5b5;
}
.filter-checkbox input:disabled + label::before,
.filter-radio input:disabled + label::before {
    border-color: #b5b5b5;
    opacity: 0.3;
}
.filter-radio input:disabled + label,
.filter-checkbox input:disabled + label {
    opacity: 0.3;
}
.filter-radio label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #c5c5c5;
    content: "";
}
.filter-radio input[type="radio"]:checked + label::after {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #c5c5c5;
    content: "";
}
.filter-radio label:hover::before, .filter-radio label:hover::after {
    border-color: #b5b5b5;
}
.filter-checkbox input, .filter-radio input {
    opacity: 0;
}
/*кнопка в конце форм*/
.filter-btn {
    width: 140px;
    height: 39px;
    margin-top: 52px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}
.filter-btn:hover {
    border-color: #bdc6ca;
}
.filter-btn:active {
    border-color: #ee3643;
}
/*кнопка в конце форм*/
/*Результат поиска. Карточка товара*/
.result {
    width: 700px;
}
.result .filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    padding: 0 16px 0 19px;
    margin-bottom: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    background-color: #f7f3ec;
    text-transform: uppercase;
}
.result .filter-by {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 360px;
    margin-left: 94px;
}
.filter-by a {
    color: #b6b3ae;
    border-bottom: 1px dotted #ee3643;
}
.filter-by a:hover {
    color: #000;
    border-bottom: 1px solid #ee3643;
}
.filter-by a:active {
    color: #ee3643;
    border: none;
}
.arrows-control {
    display: flex;
    justify-content: space-between;
    width: 43px;
}
.arrows-up, .arrows-down {
    width: 0;
    margin-top: 3px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.arrows-up {
    border-bottom: 10px solid #c6c2bd;
}
.arrows-down {
    border-top: 10px solid #c6c2bd;
}
.arrows-up:hover {
    border-bottom: 10px solid #231f20;
}
.arrows-down:hover {
    border-top: 10px solid #231f20;
}
.arrows-up:active {
    border-bottom: 10px solid #ee3643;
}
.arrows-down:active {
    border-top: 10px solid #ee3643;
}
.result-catalog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.result-catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
}
.result-catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.result-catalog-item:nth-child(3n) {
    margin-right: 0;
}
.result-catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.result-catalog-item .flag-new {
    background: url(../img/new-flag.png) no-repeat 0 0;
}
.result-catalog-item .actions {
    position: absolute;
    top: 4px;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.actions .buy, .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    background-color: #63a63e;
    
    border-bottom-color: #367315;
    border-radius:3px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", "Arial", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
.result-catalog-item .actions {
    display: none;
}
.result-catalog-item:hover .actions {
    display: block;
}
.result-catalog-item .image {
    width: 218px;
    height: 168px;
}
.result-catalog-item img {
    max-width: 100%;
}
.result-catalog-item .title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: -7px;
}
.result-catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #999;
    text-decoration: line-through;
}
.result-catalog-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.result-catalog-item .price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}
/*Результаты поиска. Карточка товара*/
.paginator {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin-bottom: 60px;
}
.paginator a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: #000;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}
.paginator a:hover {
    border-color: #bdc6ca;
}
.paginator a:active {
    border-color: #ee3643;
}
.paginator .active {
    color: #fff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}
.paginator a:last-child {
    width: 140px;
}
.description-perforator {
    padding: 67px 0;
    background-color: #f4f7f9;
}
.description-content h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}
.description-content p {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.85;
}
/*страница каталога*/
/*footer*/
.main-footer {
    background-color: #32425c;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-top .column-1 {
    width: 335px;
}
.footer-top .column-1 p {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    padding: 0;
    padding-left: 3px;
    padding-bottom: 50px;
    margin: 0;
}
.footer-logo {
    display: block;
    width: 220px;
    padding: 20px 0;
    margin-bottom: 29px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}
.footer-logo:hover {
    background-color: #ca2c37;
}
.footer-top .column-2 {
    width: 550px;
}
.footer-nav, .footer-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 62px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-promo {
    height: 58px;
}
.footer-nav a {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}
.footer-nav a:hover {
    text-decoration: underline;
}
.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}
.footer-promo li:nth-child(1) {
    padding-left: 26px;
}
.footer-promo a {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}
.footer-promo a:hover {
    text-decoration: underline;
}
.footer-promo a:active {
    text-decoration: none;
    opacity: 0.5;
}
.footer-bottom {
    padding: 25px 0;
    background-color: #293449;
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}
.copyright {
    width: 227px;
    padding: 0;
    margin: 0;
    margin-right: 113px;
    font-size: 16px;
    list-style: 18px;
    color: #ffffff;
}
.social {
    width: 133px;
    margin-right: 68px;
}
.social .social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
.social-list a{
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 2px;
    border-radius: 50%;
    background-color: #212a3a;
}
.social-vk a {
    background: #212a3a url(../img/vk-icon.svg) no-repeat center;
}
.social-fb a {
    background: #212a3a url(../img/fb-icon.svg) no-repeat center;
}
.social-insta a {
    background: #212a3a url(../img/insta-icon.svg) no-repeat center;
}
.social-list a:hover {
    background-color: #ee3643;
}
.footer-feedback {
    width: 138px;
    padding: 0;
    margin: 0;
}
.footer-copyright {
    width: 101px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
.footer-feedback, .footer-copyright {
    color: #ffffff;
}
.footer-feedback a, .footer-copyright a {
    display: block;
    color: #ffd180;
}
.footer-feedback a:hover, .footer-copyright a:hover {
    text-decoration: underline;
}
.footer-feedback a:active, .footer-copyright a:active {
    color: #ee3643;
}
/*footer*/
/*modal*/
.modal {
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal-index-technomart {
    top: 100px;
    left: 50%;
    display: block;
    width: 620px;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
}
.form-fields, .form-submit {
    padding: 37px 80px;
}
.form-submit {
    background-color: #f1f1f1;
}
.modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
}
.modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 28px;
    height: 4px;
    background-color: #ee3643;
    border-radius: 3px;
    cursor: pointer;
}
.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}
.form-fields label {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}
.form-row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-row-1-wrapper {
    width: 220px;
}
.form-index-modal p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1;
}
.form-index-modal .modal-description {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.form-index-modal input[type="text"], .form-index-modal input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    background-color: #ffffff;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}
.form-index-modal input[type="text"]:hover, .form-index-modal input[type="email"]:hover {
    border-color: #b5b5b5;
}
.form-index-modal input[type="text"]:focus, .form-index-modal input[type="email"]:focus {
    border-color: #ee3643;
}
.form-row-2 {
    width: 460px;
    margin-bottom: 20px;
}
.form-row-2 textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    background-color: #ffffff;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}
.form-row-2 textarea:hover {
    border-color: #b5b5b5;
}
.form-row-2 textarea:focus {
    border-color: #ee3643;
}
.form-row-3-wrapper {
    width: 460px;
}
.form-index-modal .button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}
.modal-map {
    top: 50%;
    left: 50%;
    display: none;
    width: 940px;
    height: 446px;
    margin-top: -280px;
    margin-left: -390px;
    z-index: 100;
}
.modal-map p {
    margin: 0;
    padding: 0;
}
.modal-map img {
    width: 100%;
}
.modal-basket {
    top: 50%;
    left: 50%;
    width: 620px;
    margin-left: -290px;
    border-top: 7px solid #ee3643;
    z-index: 20;
}
.modal-basket h2 {
    padding: 80px 0 80px 30px;
    font-size: 30px;
    line-height: 30px;
    background-image: url(../img/modal-check.svg);
    background-repeat: no-repeat;
    background-position: 15% 50%;
    text-align: center;
}
.modal-basket-submit {
    padding: 30px 20px;
    background-color: #f7f3ec;
}
.modal-basket-submit .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    margin: 0 auto;
}
.btn-basket {
    display: inline-block;
    width: 220px;
    padding: 10px 0;
    border: none;
}
.btn-basket-bg-fff {
    color: #000000;
    background-color: #fff;
}
/*modal*/
/*скрыть эллемент*/
.visually-hidden,
.breadcrumbs .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
